.curiosidades {

        
    &__container {

        display: grid;
        grid-template-columns: 45% 55%;
        align-items: stretch;
        justify-content: space-between;
        padding: 24px;

        @media (max-width: 768px) {
            display: block;
    
        }


        h2 {
            padding-top: 40px;
            text-align: center;
            color: #ea0109;
            font-size: 32px;
        }

        h4 {
            text-align: center;
            color: #ea0109;
        }

        p {
            color: beige;
            padding: 24px;
            font-weight: bold;
        }

        img {
            padding-top: 48px;
            padding-right: 48px;
            border-radius: 10px;
            max-width: 100%;
            height: 85%;
            object-fit: contain;
            display: block;
            margin-right: auto;
        }
    }
}