.trailer {
    text-align: center;
  
    &__video {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 24px;
  
      iframe {
        max-width: 100%;
        width: 1120px;
        height: 630px;
      }
    }
  }
  