@use 'hero';
@use 'sinopse';
@use 'elenco';
@use 'header';
@use 'curiosidades';
@use 'trailer';
@use 'faq';
@use 'footer';

$bgColor: black;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    list-style: none;
}

body {
    background-color: $bgColor;
}

h1 {
    padding-top: 40px;
    padding-bottom: 24px;
    text-align: center;
    color: #ea0109;
    font-size: 32px;
}


